/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* * {
    border: solid 1px darkgray;
} */

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* https://css-tricks.com/perfect-full-page-background-image/ */
    background: url('./img/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.example::-webkit-scrollbar {
    display: none;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgba(29,185,84,1) 0%, rgba(0,0,0,1) 65%);
}

main {
    padding-top: 6%;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

nav li {
    display: inline-block;
    background-color: whitesmoke;
    color: #191414;
    padding: 2px 5px;
    margin-top: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
    margin: 0 auto;
}

#intro {
    margin-top: 70px;
    max-width: 700px;
    text-align: center;
    padding: 1%;
    background: rgba(0, 0, 0, 0.6);
}

#intro p {
    padding: 0 15px;
}

#intro span {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
    color: lightgray;
}

.song {
    display: flex;
    align-items: flex-start;
    margin-top: 400px;
    padding: 30px;
    max-width: 920px;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgba(29,185,84,1) 0%, rgba(0,0,0,1) 65%);
}

.song p {
    max-width: 600px;
}

.song strong {
    font-size: 20px;
}

iframe {
    margin-right: 10px;
}

@media only screen and (max-width: 969px) {
    iframe {
        width: 80px;
        height: 80px;
    }
}

#about {
    background-color: #149441;
    padding: 85px 15px;
    margin-top: 200px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top */
    scroll-margin-top: 108px;
}

#about div {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 150px;
}

#contact {
    background-color: whitesmoke;
    color: black;
    padding: 85px 15px 35px 15px;
}

#contact div {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 15px;
}

button {
    margin-top: 25px;
    background-color: rgb(29,185,84);


    padding: 5px 10px;
    border: 5px rgb(29,185,84) solid;
    border-radius: 25px;
    cursor: pointer;
    transition: all .03s;
}

button:hover{
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
}

input, textarea {
    /* https://stackoverflow.com/questions/20175211/why-dont-textarea-and-input-elements-respect-max-width */
    width:100%;
    display:block;
    text-align: center;
    flex-grow: 1;
    max-width: 300px;
}

textarea {
    text-align: left;
}